$grey-clr:#918f8f;
$grey-clr-hvr:#706f6f;

$blue-clr:#00b7ff;
$blue-clr-hvr:#057cac;

$green-clr: #019e23;
$green-clr-hvr: #02721a;

$orange-clr: #ff6600;
$orange-clr-hvr: #a54606;

$red-clr: #ff0000;
$red-clr-hvr: #a10707;

$heading-color: #ccc;
$black-txt: #000;
$white-txt: #fff;
